In [3]:
import pandas as pd
flights= pd.read_csv("https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/flights.csv")
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [4]:
df= flights.groupby("AIRLINE")
df.head(10)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,9,5,HA,LAS,HNL,900,27.0,354.0,2762,1315,29.0,0,0
1544,1,10,6,HA,PHX,HNL,800,-4.0,379.0,2917,1140,-7.0,0,0
1864,1,12,1,HA,LAS,HNL,145,-9.0,352.0,2762,555,-2.0,0,0
2316,1,15,4,HA,LAX,HNL,1705,22.0,319.0,2556,2055,10.0,0,0
2644,1,17,6,HA,LAS,HNL,900,-14.0,376.0,2762,1315,9.0,0,0

In [6]:
df2= flights[flights["ARR_DELAY"]== 65.0]
df2.head(5)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
213,1,2,5,OO,DEN,ATL,1720,44.0,143.0,1199,2159,65.0,0,0
218,1,2,5,WN,ATL,SAT,1400,43.0,145.0,874,1520,65.0,0,0
354,1,3,6,DL,ATL,PIT,1623,75.0,64.0,526,1805,65.0,0,0
778,1,5,1,EV,IAH,BHM,1250,74.0,70.0,562,1430,65.0,0,0